{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
  

    <label for="username">{{ 'Pseudo :'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'Mot de passe :'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <label for="remember_me">{{ 'Se souvenir de moi'|trans }}</label>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	
    <input type="submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" />
</form>
<a href="{{ path("fos_user_registration_register") }}">S'inscrire</a>
{% endblock fos_user_content %}
