{# app/Resources/views/layout.html.twig #}
 
<!DOCTYPE HTML>

<html>

<head>
 {% block style %}  
   <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
   <link href="{{ asset('css/main.css')}}" rel="stylesheet" type="text/css">
   <link href="{{ asset('bootstrap/css/datepicker.css')}}" rel="stylesheet" type="text/css">
   <script src="{{ asset('js/jquery.js') }}"></script> 
   <script src="{{ asset('js/bootstrap.min.js')}}" ></script>  
   <script src="{{ asset('bootstrap/js/bootstrap-datepicker.js')}}" ></script>  
 {% endblock %}
 
   <title>{% block title %} Gestion des stages - {% endblock %}</title>
</head>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
		<li class="brand">Appli voeux de stages</li>
        <li class="active"> <a href="{{ path('sujet2devspe_acceuil') }}" >Accueil</a> </li>
	
	   <li><a id="lienconnect" href="{{ path('login')}}"  >
	   {% if ( app.user is empty ) %}
	   Connexion 
	   {% else %} 
	   Deconnexion
	   </a></li>
	   {% endif %}
		
      </ul>
    </div>
  </div>
</nav>
<body>
<br>

<div class="row-fluid">
    <div class="span12 offset1" id="span12fond">
		<div class="span12" id="span12blue">
			<div class="span6"><p><h1>Gestion des affectations des stages aux enseignants<br></h1></p></div>
			<div class="span4 offset2" id="span4image"><img src=" {{ asset('img/logo_univ.jpg') }}" class="img-circle"></div>
		</div>	



{% block body %}
						
{% endblock %}
		{# </div> #}
	</div>
</div>
</body>
</html>