{# app/Resources/views/layout.html.twig #}
 
<!DOCTYPE HTML>

<html>

<head>
 {% block style %}  
<<<<<<< HEAD
   <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
   <link href="{{ asset('css/main.css')}}" rel="stylesheet" type="text/css"/>
=======
   <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
   <link href="{{ asset('css/main.css')}}" rel="stylesheet" type="text/css">
>>>>>>> de579f47cca4e8553f8852583bd7b16b0c1676ac
   <script src="{{ asset('js/jquery.js') }}"></script> 
   <script src="{{ asset('js/bootstrap.min.js')}}" ></script>  
 {% endblock %}
 
   <title>{% block title %} Gestion des stages - {% endblock %}</title>
</head>

<<<<<<< HEAD

<body>
=======
>>>>>>> de579f47cca4e8553f8852583bd7b16b0c1676ac
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
		<li class="brand">Appli voeux de stages</li>
        <li class="active"> <a href="{{ path('sujet2devspe_acceuil') }}" >Accueil</a> </li>
	
	   <li><a id="lienconnect" href="{{ path('login')}}"  >
	   {% if ( app.user is empty ) %}
	   Connexion 
	   {% else %} 
	   Deconnexion
<<<<<<< HEAD
	   {% endif %} 
	  </a></li>
=======
	   </a></li>
	   {% endif %}
		
>>>>>>> de579f47cca4e8553f8852583bd7b16b0c1676ac
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="row-fluid">
    <div class="span12 offset1" id="span12fond">
		<div class="span12" id="span12blue">
			<div class="span6"><h1>Gestion des affectations des stages aux enseignants</h1></div>
			<div class="span4 offset2" id="span4image"><img src=" {{ asset('img/logo_univ.jpg') }}" class="img-circle"></div>
		</div>	

{% block body %}
  
{% endblock %}
</div>
</div>
</body>
</html>