<<<<<<< HEAD
{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_adresse_enseignant.html.twig #}

<legend><h2 id="h2title">Param&eacutetrage de l'adresse personnel</h2></legend>

<form method="post" {{ form_enctype(form) }}>
<p>
	Saisir votre adresse :</br></br>
	{{ form_widget(form.ensAdresse) }} </br></br>
	<input type="submit" class="btn btn-primary" />
<p>
</br>
=======
<<<<<<< HEAD
{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_adresse_enseignant.html.twig #}

<<<<<<< HEAD

<legend><h2 id="h2title">Param&eacutetrage de l'adresse personnel</h2></legend>

<form method="post" {{ form_enctype(form) }}>
    
=======
<legend><h2 id="h2title">Param&eacutetrage de l'adresse personnel</h2></legend>


<form method="post" {{ form_enctype(form) }}>
=======
﻿{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/formulaire_adresse_enseignant.html.twig #}

<legend>Parametrage de l'adresse personnel</legend>

<form method="post" {{ form_enctype(form) }}>
    
>>>>>>> 39153aa81a69b5cfddb33c90bc1dc53cc81bf1c5
>>>>>>> 7b160890c23327ebb462a8a50dbf4f283bf22bb5
	{{ form_widget(form) }} </br></br>
	
	<input type="submit" class="btn btn-primary" />
>>>>>>> ed7d05e5e2418add799a6a4bb8d348e4a4706a99
</form>
