{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/menuEnseignant.html.twig #}


        
<<<<<<< HEAD
		<nav class="navbar navbar-inverse" id="navsousmenu">
=======
		<nav class="navbar navbar-inverse">
>>>>>>> ed7d05e5e2418add799a6a4bb8d348e4a4706a99
		  <div class="navbar-inner">
			<div class="container">
			  <ul class="nav">
				<li class="brand" id="brandsousmenu"><a class="dropdown-toogle" data-toggle="dropdown" href="{{ path ('sujet2devspe_acceuilenseignant') }}" >Enseignant</a></li>
				<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Voeux <b class="caret"></b> </a>
				  <ul class="dropdown-menu">
					<li><a href="{{path('sujet2devspe_etatvoeuxenseignant')}}">Etat des voeux</a></li>
					<li class="divider"></li>
					<li><a href="{{path('sujet2devspe_voeuxenseignant')}}">Faire un voeux</a></li>
				  </ul>
				</li>
<<<<<<< HEAD
				<li> <a href="{{path('sujet2devspe_profilenseignant')}}">Profil</a> </li>
=======
<<<<<<< HEAD
				<li> <a href="{{path('sujet2devspe_profilenseignant')}}">Profil</a> </li>
=======
<<<<<<< HEAD
				<li> <a href="{{path('sujet2devspe_profilenseignant')}}">Profil</a> </li>
=======
				<li> <a href="{{ path('sujet2devspe_enseignant') }}">Profil</a> </li>
>>>>>>> 39153aa81a69b5cfddb33c90bc1dc53cc81bf1c5
>>>>>>> 7b160890c23327ebb462a8a50dbf4f283bf22bb5
>>>>>>> ed7d05e5e2418add799a6a4bb8d348e4a4706a99
			  </ul>
			</div>
		  </div>
		</nav> 
		
	