{# src/Sujet2/DevSpeBundle/Resources/views/Sujet2View/profilenseignant.html.twig #}
 
{% extends "::layout.html.twig" %}

{% block title %} Profil {% endblock %}

{% block body %} 
{% if is_granted('ROLE_ADMIN') %}
{% include "Sujet2DevSpeBundle:Sujet2View:MenuGestionnaire.html.twig" %}
{% else %}
{% include "Sujet2DevSpeBundle:Sujet2View:MenuEnseignant.html.twig" %}
{% endif %}

<div class="span12" id="span12interieur">
			<legend><h2 id="h2title">Profil</h2></legend>
			<p>
				Nom : 
				{{ enseignant.ensNom }} <br>
				Prénom : 
				{{ enseignant.ensPrenom }} <br>				             	
				{% if is_granted('ROLE_ADMIN') %}
				{% else %}
				 Adresse : 
				{{ enseignant.ensAdresse }} <br><br>
				<a href="{{path('sujet2devspe_adresseenseignant')}}" > Modifier l'adresse </a><br>
                {% endif %}
				<br>
				<a href="{{ path ('fos_user_change_password') }}"> Modifier le mot de passe </a>
			</p>

{% endblock %}