{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'Pseudo'|trans }}: {{ user.username }}</p>
    <p>{{ 'Email'|trans }}: {{ user.email }}</p>
	
	<a href="{{path('sujet2devspe_acceuilenseignant')}}">Retourner à la page d'accueil</a>
</div>
